{% extends 'Layout.html' %}
  {% block body %}

    <div class="container col-md-4">
      <div class="card">
        <div class="card-header">
          Festivale Bilet Ekle
        </div>
        <div class="card-body">
          {% with messages = get_flashed_messages() %}
            {% if messages %}

              {% for message in messages %}
              <div class="flashes alert alert-primary" role="alert">
                {{ message }}
              </div>
              {% endfor %}

            {% endif %}
          {% endwith %}
          <form method="POST" action="/festivalbiletekle/{{festivalid}}" >
            <div class="form-group">
              {{ form.adi.label }} {{ form.adi(size=20, class_="form-control") }}
            </div>
            <div class="form-group">
              {{ form.fiyati.label }} {{ form.fiyati(class_="form-control") }}
            </div>
            <div class="form-group">
              {{ form.biletsayisi.label }} {{ form.biletsayisi(size=20, class_="form-control") }}
            </div>
            <input class="btn btn-primary"type="submit" value="Ekle">
          </form>
        </div>
      </div>
    </div>

  {% endblock %}
