<!DOCTYPE html>
<html>
<head>

</head>
<body>

{% extends 'Layout.html' %}

{% block body %}
<div class="container col-md-4">
  {% for festival in festivals %}
  <div class="card ">
    <img class="card-img-top" src={{url_for('static', filename=festival.FestivalAfisi)}} style="width: auto; height: 600px;" alt="Card image cap">
    Festival: {{festival.FestivalAdi}}<br>
    Festival Adresi: {{festival.FestivalAdresi}}<br>
    Festival Baslama Tarihi: {{festival.FestivalBaslamaTarihi.strftime('%Y-%m-%d')}}<br>
    Festival Bitis Tarihi: {{festival.FestivalBitisTarihi.strftime('%Y-%m-%d')}}<br>
    Festival Aciklamasi: {{festival.FestivalAciklamasi}}<br>
    Festival Sehri: {{festival.FestivalBulunduguSehir}}<br><br>

    {% for bilet in biletler %}
    <div style ="  background-color: white;
      width: 300px;
      border: 10px solid blue;
      padding: 25px;
      margin: 25px;">
      Bilet Adi: {{bilet.BiletAdi}}<br>
      Bilet Fiyatı: {{bilet.BiletFiyati}}<br>
      Kalan Bilet Sayisi: {{bilet.KalanBiletSayisi}}<br>
      <a href="/satinal/{{bilet.BiletId}}" id="go_to_bilet_button" value={{bilet.BiletId}} class="btn btn-primary">Bu Bileti Satın Al</a>
      </div>
    {% endfor %}
    <br>Müzisyenler:
    {% for muzisyen in muzisyenler %}
        <li class="list-group-item">
          <div class="card col-md-12" >
            <div class="card-body">
              <p class="card-text">Adı: {{muzisyen.MuzisyenAdi}}</p>
              <p class="card-text">Kategori: {{muzisyen.MuzisyenKategori}}</p>
              <a href="/muzisyen/{{muzisyen.MuzisyenId}}" id="go_to_photo_button" value={{muzisyen.MuzisyenId}} class="btn btn-primary">Muzisyeni detayli görüntüle</a>
              <br><hr><br>
            </div>
          </div>
        </li>
    {% endfor %}
    {% if current_user.is_authenticated and current_user.KullaniciTuru=='festival'%}
      <h4>Festival Admin Paneli:</h4>
        <br>
        <a class="btn btn-primary" href="/festivalbiletekle/{{festival.FestivalId}}">Festivale Bilet Ekle</a>
        <br>
        <a class="btn btn-primary" href="/festivalmuzisyenekle/{{festival.FestivalId}}">Festivale Muzisyen Ekle</a>
        <br>
    {% endif %}
  </div>

  {% endfor %}
</div>


{% endblock %}
</body>
</html>
