{% extends 'Layout.html' %}

{% block body %}
<div class="container col-md-4">
  {% for muzisyen in muzisyenler %}
      <li class="list-group-item">
        <div class="card col-md-12" >
          <img class="card-img-top" src={{url_for('static', filename=muzisyen.MuzisyenResmi)}} alt="Card image cap">
          <div class="card-body">
            <a href="/muzisyen/{{muzisyen.MuzisyenId}}" id="go_to_photo_button" value={{muzisyen.MuzisyenId}} class="btn btn-primary">Muzisyeni detayli görüntüle</a>
            <br><hr><br>
          </div>
        </div>
      </li>
  {% endfor %}
</div>


{% endblock %}
