{% extends 'Layout.html' %}

{% block body %}
<center>
  <br>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/static/koala.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><font color="green">@{{kullanici.KullaniciAdi}}</font></h5>
    <p class="card-text">{{kullanici.KullaniciEmail}}</p>
    <p class="card-text">{{kullanici.KullaniciAdresi}}</p>
    <p class="card-text">Bakiyeniz :{{kullanici.KullaniciBakiyesi}}</p>
    <p class="card-text"><font color="green">İşlem Özetleri</font></p>
    <br>
      {% for islemozeti in islemozetleri %}
      IslemPNR= {{islemozeti.IslemPNR}}<br>
      IslemTarihi={{islemozeti.IslemTarihi}}<br>
      <a href="/islemozetigoruntule/{{islemozeti.IslemId}}" id="go_to_bilet_button" value={{islemozeti.IslemId}} class="btn btn-primary">Detayli Bilgi</a>
      <br>
      <br>
      {% endfor %}
  </div>
</div>
</center>
{% endblock %}
