{% extends 'Layout.html' %}

{% block body %}
  <div class="card col-md-6 offset-md-3">
    <div class="card">
      <h5 class="card-header">Festival Adi: {{festival.FestivalAdi}}</h5>
      <div class="card-body">
        <h5 class="card-title">  Bilet Adi: {{bilet.BiletAdi}}</h5>
        <p class="card-text">Bilet Fiyati: {{bilet.BiletFiyati}}</p>
        <p class="card-text">Bakiyeniz :{{kullanici.KullaniciBakiyesi}}</p>
        <a href="/islemozeti/{{bilet.BiletId}}" id="go_to_bilet_button" value={{bilet.BiletId}} class="btn btn-primary">Ödeme Yap</a>
        </div>
    </div>
  </div>
{% endblock %}
